<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Ящики</h3>
  </div>
  <div class="panel-body">

    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">

          <div class="col-md-8">
            Ящик №1
          </div>
          <div class="col-md-8">
            <button class="btn btn-success" data-box_id='0' onClick='openBox(event)'>Открыть</button>
            <button class="btn btn-danger" data-box_id='0' onClick='closeBox(event)'>Закрыть</button>
          </div>

        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">

          <div class="col-md-8">
            Ящик №2
          </div>
          <div class="col-md-8">
            <button class="btn btn-success" data-box_id='1' onClick='openBox(event)'>Открыть</button>
            <button class="btn btn-danger" data-box_id='1' onClick='closeBox(event)'>Закрыть</button>
          </div>

        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">

          <div class="col-md-8">
            Ящик №3
          </div>
          <div class="col-md-8">
            <button class="btn btn-success" data-box_id='2' onClick='openBox(event)'>Открыть</button>
            <button class="btn btn-danger" data-box_id='2' onClick='closeBox(event)'>Закрыть</button>
          </div>

        </div>
      </div>
    </div>

      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-body">

            <div class="col-md-8">
              Ящик №4
            </div>
            <div class="col-md-8">
              <button class="btn btn-success" data-box_id='3' onClick='openBox(event)'>Открыть</button>
              <button class="btn btn-danger" data-box_id='3' onClick='closeBox(event)'>Закрыть</button>
            </div>

          </div>
        </div>
      </div>

  </div>
</div>

