<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Двери</h3>
  </div>
  <div class="panel-body row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">

          <div class="col-md-8">
            Вход:
          </div>
          <div class="col-md-8">
            <button class="btn btn-success" data-door_id='0' onClick='openDoor(event)'>Открыть</button>
            <button class="btn btn-danger" data-door_id='0' onClick='closeDoor(event)'>Закрыть</button>
          </div>

        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">

          <div class="col-md-8">
            Машинное отделение:
          </div>
          <div class="col-xl-4 col-md-12">
            <button class="btn btn-success" data-door_id='1' onClick='openDoor(event)'>Открыть</button>
            <button class="btn btn-danger" data-door_id='1' onClick='closeDoor(event)'>Закрыть</button>
          </div>
        </div>

      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">

          <div class="col-md-8">
            Капинатнский мостик:
          </div>
          <div class="col-md-8">
            <button class="btn btn-success" data-door_id='2' onClick='openDoor(event)'>Открыть</button>
            <button class="btn btn-danger" data-door_id='2' onClick='closeDoor(event)'>Закрыть</button>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
