{% extends "base.html" %}

{% block content %}

<header class="page-header container">
  <h1>Введение</h1>
</header>


<p>
  <a class="btn btn-primary" role="button" data-toggle="collapse"
    href="#presenterWeAreGointTo" aria-expanded="true" aria-controls="collapseExample">
    + Ведущий
  </a>
</p>
<div class="collapse in" id="presenterWeAreGointTo">
  <div class="well">
    Мы отправляемся с вами на самую близкую к Солнцу планету Меркурий.
  </div>
</div>

<p>
  <a class="btn btn-primary" role="button" data-toggle="collapse"
    href="#computerSystemFlyMode" aria-expanded="true" aria-controls="collapseExample">
    + Бортовой компьютер
  </a>
</p>
<div class="collapse" id="computerSystemFlyMode">
  <div class="well">
    Системы корабля переведены в режим полета.
  </div>
</div>

<p>
  <a class="btn btn-primary" role="button" data-toggle="collapse"
    href="#presenterLetsGoLook" aria-expanded="true" aria-controls="collapseExample">
    + Ведущий
  </a>
</p>
<div class="collapse in" id="presenterLetsGoLook">
  <div class="well">
    Пойдемте посмотрим, что же можно увидеть из окошка иллюминатора.
  </div>
</div>

<p>
  <a class="btn btn-primary" role="button" data-toggle="collapse"
  href="#computerSystemFlyMode" aria-expanded="true" aria-controls="collapseExample">
  <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>
  + Бортовой компьютер. Внимание


<p>
  <a class="btn btn-primary" role="button" data-toggle="collapse"
    href="#computerSystemFlyMode" aria-expanded="true" aria-controls="collapseExample">
    + Бортовой компьютер
  </a>
</p>
<div class="collapse" id="computerSystemFlyMode">
  <div class="well">
    Системы корабля переведены в режим полета.
  </div>
</div>
  </a>
</p>
<div class="collapse" id="computerSystemFlyMode">
  <div class="well">
    Системы корабля переведены в режим полета.
  </div>
</div>

{% end %}
