{% extends "base.html" %}

{% block content %}

<header class="page-header container">
  <h1>Введение</h1>
</header>


<nav aria-label="...">
  <ul class="pager">
    <li class="previous">
      <a href="/dashboard"><span aria-hidden="true">&larr;</span>
      Панель управления
      </a>
    </li>
    <li class="next"><a href="/mercury">Meркурий <span aria-hidden="true">&rarr;</span></a></li>
  </ul>
</nav>

<p>
  <button
    type="button"
    class="btn btn-warning"
    data-light_id="introStart"
    onClick='turnLight(event)'>

    Свет приглушенно белый.
  </button>
</p>

<p>
  <a class="btn btn-info" role="button" data-toggle="collapse"
    href="#presenterWeAreGointTo" aria-expanded="true" aria-controls="collapseExample"
    data-sound='sounds/coin.wav'
    onClick='playSound(event)'>
    + Ведущий
  </a>
</p>
<div class="collapse in" id="presenterWeAreGointTo">
  <div class="well">
    Мы отправляемся с вами на самую близкую к Солнцу планету Меркурий.
  </div>
</div>

<p>
  <a class="btn btn-primary" role="button" data-toggle="collapse"
    href="#computerSystemFlyMode" aria-expanded="true" aria-controls="collapseExample"
    data-sound='sounds/coin.wav'
    onClick='playSound(event)'>
    <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>
    + Бортовой компьютер
  </a>
</p>
<div class="collapse" id="computerSystemFlyMode">
  <div class="well">
    Системы корабля переведены в режим полета.
  </div>
</div>

<p>
  <a class="btn btn-info" role="button" data-toggle="collapse"
    href="#presenterLetsGoLook" aria-expanded="true" aria-controls="collapseExample">
    + Ведущий
  </a>
</p>
<div class="collapse in" id="presenterLetsGoLook">
  <div class="well">
    Пойдемте посмотрим, что же можно увидеть из окошка иллюминатора.
  </div>
</div>

<p>
  <a class="btn btn-primary" role="button" data-toggle="collapse"
    href="#computerAttensionMercury" aria-expanded="true" aria-controls="collapseExample">
    <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>
    + Бортовой компьютер. Внимание
  </a>
</p>
<div class="collapse" id="computerAttensionMercury">
  <div class="well">
    Внимание! Внимание! Приближаемся к Меркурию! Займите позиции на капитанском
    мостике.
  </div>
</div>

<p>
  <button type="button" class="btn btn-warning">
    Свет желто-оранжевый.
  </button>
</p>

<p>
  <a class="btn btn-info" role="button" data-toggle="collapse"
    href="#presenterNeedToOpenCaptainsDoors" aria-expanded="true" aria-controls="collapseExample">
    + Ведущий. Нужно открыть двери
  </a>
</p>
<div class="collapse" id="presenterNeedToOpenCaptainsDoors">
  <div class="well">
    Нужно открыть двери на кап мостик. (например, в одном из ящиков код нормальными цифрами и расшифровка)
  </div>
</div>

<p>
  <a class="btn btn-primary" role="button" data-toggle="collapse"
    href="#computerDataFromMercury" aria-expanded="true" aria-controls="collapseExample">
    <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>
    + Бортовой компьютер. Поступили данные с меркурия
  </a>
</p>
<div class="collapse" id="computerDataFromMercury">
  <div class="well">
    Поступили данные с поверхности Меркурия.
  </div>
</div>

<nav aria-label="...">
  <ul class="pager">
    <li class="previous">
      <a href="/dashboard"><span aria-hidden="true">&larr;</span>
      Панель управления
      </a>
    </li>
    <li class="next"><a href="/mercury">Meркурий <span aria-hidden="true">&rarr;</span></a></li>
  </ul>
</nav>


{% end %}
