{% extends "base.html" %}

{% block content %}

<header class="page-header container">
  <h1>Меркурий</h1>
</header>

<nav aria-label="...">
  <ul class="pager">
    <li class="previous">
      <a href="/introduction"><span aria-hidden="true">&larr;</span>
       Введение
      </a>
    </li>
    <li class="next"><a href="#venera"><span aria-hidden="true">&rarr;</span>
      Венера
    </a></li>
  </ul>
</nav>

<p>
  <a class="btn btn-primary" role="button" data-toggle="collapse"
    href="#computerAI" aria-expanded="true" aria-controls="collapseExample">
    <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>
    + Бортовой компьютер. Активируйте ИИ
  </a>
</p>
<div class="collapse" id="computerAI">
  <div class="well">
    Активируйте искусственный интеллект корабля. Код от машинного отделения на капитанском мостике. (расшифровка уже есть, код спрятан в тайнике)
  </div>
</div>

<p>
  <a class="btn btn-info" role="button" data-toggle="collapse"
    href="#presenterNeedToOpenEngineDoor" aria-expanded="true" aria-controls="collapseExample">
    + Ведущий. Нужно попасть к роботу
  </a>
</p>
<div class="collapse" id="presenterNeedToOpenEngineDoor">
  <div class="well">
    Нам нужно как-то попасть к роботу, давайте откроем дверь. (открываем дверь, ставим голову)
  </div>
</div>

<p>
  <a class="btn btn-primary" role="button" data-toggle="collapse"
    href="#robotAboutMercury" aria-expanded="true" aria-controls="collapseExample">
    <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>
    + Робот о планете
  </a>
</p>
<div class="collapse" id="robotAboutMercury">
  <div class="well">
    Робот: Меркурий - маленькая планета, чуть крупнее Луны. Его поверхность точно так же, как у Луны усеяна кратерами от столкновений с метеоритами.  Внутри Меркурий холоден. Вокруг Солнца он движется быстрее других планет, а вокруг своей оси очень медленно. Обойдя два раза вокруг Солнца, Меркурий успевает только три раза обернуться вокруг своей оси. То есть, год на Меркурии длится всего три меркурьевых дня. Из-за этого температура на солнечной стороне планеты превышает 300 градусов, а на неосвещённой - царят мрак и лютая стужа. Атмосферы у Меркурия практически нет.
  </div>
</div>


<p>
  <a class="btn btn-primary" role="button" data-toggle="collapse"
    href="#computerDron" aria-expanded="true" aria-controls="collapseExample">
    <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>
    + Бортовой компьютер. Дрон доставил грунт
  </a>
</p>
<div class="collapse" id="computerDron">
  <div class="well">
    Дрон по сбору образцов доставил грунт с планеты Меркурий. Образец можно увидеть в контейнере №2. Подайте питание на замок контейнера, правильно подключив провода в коридоре. (провода можно разложить в обычном же порядке, а схему показать на одном из мониторов)
  </div>
</div>

<p>
  <button type="button" class="btn btn-warning">
    (звуки сирены)
  </button>
</p>

<p>
  <a class="btn btn-primary" role="button" data-toggle="collapse"
    href="#computerDanger" aria-expanded="true" aria-controls="collapseExample">
    <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>
    + Бортовой компьютер. Опасность
  </a>
</p>
<div class="collapse" id="computerDanger">
  <div class="well">
    (звуки сирены) Опасность! Опасность! Слишком близкое нахождение около солнца может вызвать перегрев обшивки! (звуки сирены) Опасность! Опасность! Уведите корабль с орбиты Меркурия. (на мониторах отображается один раунд финальной игры квеста, проходим, корабль улетает)

  </div>
</div>


<nav aria-label="...">
  <ul class="pager">
    <li class="previous">
      <a href="/introduction"><span aria-hidden="true">&larr;</span>
       Введение
      </a>
    </li>
    <li class="next"><a href="#venera"><span aria-hidden="true">&rarr;</span>
      Венера
    </a></li>
  </ul>
</nav>
{% end %}
